@use 'rules' as rule;
@use 'mixin' as mixin;

@each $name, $color in rule.$colors {
  .color-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background: $color;
  }
}

@each $name, $gridColumns in rule.$gridList {
  .grid-#{$name} {
    @include mixin.grid-column-layout($gridColumns, rule.$defaultGridGap);
  }
}

@each $name, $gridGap in rule.$gridGaps {
  .grid-gap-#{$name} {
    @include mixin.grid-gap(calc(#{rule.$defaultGridGap} * $gridGap));
  }
}

@each $name, $flexJustify in rule.$flexJustifyList {
  .flex-justify-#{$name} {
    @include mixin.flex-layout(flex, $flexJustify, unset, unset);
  }
}

@each $name, $flexAlign in rule.$flexAlignList {
  .flex-align-#{$name} {
    @include mixin.flex-layout(flex, unset, $flexAlign, unset);
  }
}

@each $name, $bold in rule.$boldVariations {
  .weight-#{$name} {
    font-weight: $bold;
  }
}

@each $name, $text in rule.$textSizes {
  .text-size-#{$name} {
    font-size: #{$text};
    line-height: #{$text};
  }
}

.flex-justify {
  &-end {
    @include mixin.flex-layout(flex, flex-end, center, unset);
  }
}
