@use 'sass:map';

/*Colors*/
$colors: (
  'background-color': rgb(248, 248, 248),
  'white': rgb(255, 255, 255),
  'black': rgb(0, 0, 0),
  'primary': rgb(48, 48, 48),
  'gray-50': rgb(248, 248, 248),
  'gray-75': rgb(245, 245, 245),
  'gray-100': rgb(241, 241, 241),
  'gray-150': rgb(241, 241, 241),
  'gray-175': rgb(229, 229, 229),
  'gray-200': rgb(220, 220, 220),
  'gray-250': rgb(212, 212, 212),
  'gray-300': rgb(184, 184, 184),
  'gray-350': rgb(163, 163, 163),
  'gray-400': rgb(147, 147, 147),
  'gray-500': rgb(115, 115, 115),
  'gray-550': rgb(82, 82, 82),
  'gray-600': rgb(77, 77, 77),
  'gray-700': rgb(64, 64, 64),
  'gray-800': rgb(48, 48, 48),
  'gray-900': rgb(23, 23, 23),
  'gray-950': rgb(12, 12, 12),
  'gray-icon': rgb(147, 147, 147),
  'green-100': rgb(235, 255, 250),
  'green-200': rgb(198, 252, 80),
  'green-400': rgb(3, 187, 139),
  'green-500': rgb(0, 224, 168),
  'green-800': rgb(0, 102, 78),
  'blue-50': rgb(236, 242, 254),
  'blue-300': rgb(98, 143, 248),
  'blue-400': rgb(96, 154, 248),
  'aqua-400': rgb(5, 157, 153),
  'orange-500': rgb(233, 166, 32),
  'orange-400': rgb(253, 118, 42),
  'orange-200': rgb(240, 194, 104),
  'orange-100': rgb(253, 248, 236)
);

/*Fonts*/
$defaultGridGap: 1rem;
$defaultFontSize: clamp(0.875rem, 3vw, 1rem);
$defaultLineHeight: calc(clamp(0.875rem, 3vw, 1rem) * 1.5);
$fontTextSize: clamp(0.875rem, 3vw, 1rem);
$mainFontFamily:
  Maax,
  'Noto Sans',
  -apple-system,
  'Ubuntu',
  sans-serif;
$fontH1Size: clamp(2rem, 1vw + 2rem, 2.5rem);
$fontH2Size: clamp(1.75rem, 1vw + 1.75rem, 2.25rem);
$fontH3Size: clamp(1.5rem, 1vw + 1.5rem, 2rem);
$fontH4Size: clamp(1.25rem, 1vw + 1.25rem, 1.75rem);
$fontH5Size: clamp(1rem, 1vw + 1rem, 1.5rem);
$fontH6Size: clamp(1rem, 1vw + 1rem, 1.25rem);
$textSizes: (
  '8': 0.5rem,
  '9': 0.563rem,
  '10': 0.625rem,
  '11': 0.688rem,
  '12': 0.75rem,
  '13': 0.813rem,
  '14': 0.875rem,
  '15': 0.938rem,
  'default': 1rem,
  '18': 1.125rem,
  '20': 1.25rem,
  '22': 1.375rem,
  '24': 1.5rem,
  '25': 1.563rem,
  '26': 1.625rem,
  '29': 1.813rem,
  '32': 2rem,
  '36': 2.25rem,
  '40': 2.5rem,
  '44': 2.75rem,
  '45': 2.813rem,
  '46': 2.875rem,
  '48': 3rem,
  '54': 3.375rem,
  '55': 3.438rem,
  '56': 3.5rem,
  '64': 4rem
);
$titleFonts: (
  'h1': $fontH1Size,
  'h2': $fontH2Size,
  'h3': $fontH3Size,
  'h4': $fontH4Size,
  'h5': $fontH5Size,
  'h6': $fontH6Size
);
$boldVariations: (
  '300': 300,
  '400': 400,
  '600': 600,
  '700': 700
);

/*Grid*/
$gridList: (
  '2': repeat(2, 1fr),
  '3': repeat(3, 1fr),
  '4': repeat(4, 1fr),
  '5': repeat(5, 1fr),
  '6': repeat(6, 1fr),
  'responsive': repeat(auto-fit, minmax(250px, 1fr))
);

/*Flex justify options*/
$flexJustifyList: (
  'space-between': space-between,
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'space-around': space-around
);

/*Flex align options*/
$flexAlignList: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'stretch': stretch,
  'baseline': baseline
);

/*Utilities*/
$defaultRem: 1rem;
$defaultPadding: $defaultRem;
$defaultRadius: calc(#{$defaultRem} * 0.75);
$formRadius: calc(#{$defaultRem} / 4);
$defaultBoxShadow: 0px 0px 50px 0px rgba(map.get($colors, 'black'), 0.15);
$containerShadow: 0 2px 8px rgba(map.get($colors, 'gray-400'), 0.16);
$defaultBorder: 0.6px solid rgba(map.get($colors, 'gray-400'), 0.1);
