@use 'sass:map';
@use 'framework' as framework;

@keyframes tooltip-show-up {
  0% {
    scale: 0.9;
    opacity: 0.5;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.home {
  @include framework.flex-layout(flex, center, unset, unset);
  &__box {
    width: min(750px, 100%);
    padding: calc(#{framework.$defaultPadding} * 3);
    background-color: map.get(framework.$colors, 'gray-50');
    border-radius: calc(#{framework.$defaultRem} * 1.5);
    @include framework.grid-gap(framework.$defaultGridGap);
    &--title {
      @include framework.font-style('44', 'primary');
      font-weight: 300;
      line-height: 1;
    }
    &--text {
      @include framework.font-style('default', 'gray-400');
      padding-bottom: calc(#{framework.$defaultPadding} * 3.5);
    }
    &--button {
      @include framework.flex-layout(flex, center, unset, unset);
    }
  }
  &__button {
    &--connect {
      width: min(350px, 100%);
      @include framework.flex-layout(flex, center, center, unset);
      @include framework.font-style('18', 'gray-50');
      padding: 18px;
      height: 56px;
      span {
        transition: color 0.2s ease;
      }
      &.connected {
        span {
          color: map.get(framework.$colors, 'green-200');
        }
        svg {
          animation-name: show-up;
          animation-duration: 200ms;
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-fill-mode: forwards;
        }
      }
      svg {
        position: absolute;
        left: 18px;
        width: 22px;
        height: 22px;
      }
    }
  }
}

.modal {
  &__connect {
    @include framework.grid-gap(framework.$defaultGridGap);
    justify-items: center;
    .connect {
      &__header {
        text-align: center;
        font-weight: 500;
      }
      &__profile {
        padding: framework.$defaultPadding 0;
        .profile {
          height: 100px;
          width: 100px;
          border-radius: 100vh;
          background: linear-gradient(180deg, #af52de 0%, #ff2d55 100%);
          position: relative;
          .network {
            position: absolute;
            bottom: 0;
            right: 5px;
            &__icon {
              width: 25px;
              height: 25px;
              border-radius: 100vh;
              font-size: 0;
              padding: 2px;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
              background-color: map.get(framework.$colors, 'white');
            }
            &__name {
              display: none;
              position: absolute;
              right: 0;
            }
            &:hover {
              .network {
                &__name {
                  display: block;
                  position: absolute;
                  left: calc(100% + 5px);
                  background-color: map.get(framework.$colors, 'white');
                  @include framework.font-style('12', 'gray-500');
                  padding: calc(#{framework.$defaultPadding} / 4)
                    calc(#{framework.$defaultPadding} / 4);
                  border-radius: 4px;
                  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.06);
                  top: 0;
                  width: max-content;
                  animation-name: tooltip-show-up;
                  animation-duration: 100ms;
                  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                  animation-fill-mode: forwards;
                }
              }
            }
          }
        }
      }
      &__amount {
        @include framework.font-style('default', 'gray-500');
        span {
          position: relative;
          &.loading {
            &:after {
              position: absolute;
              height: 100%;
              width: 100%;
              content: '';
              z-index: 10;
              background-color: map.get(framework.$colors, 'gray-100');
              border-radius: 5px;
              left: 0;
              top: 0;
            }
          }
        }
      }
      &__address {
        @include framework.font-style('18', 'primary');
        font-weight: 500;
        @include framework.flex-layout(inline-flex, unset, center, 5px);
        cursor: pointer;
        svg {
          //stroke: map.get(framework.$colors, 'gray-400');
          height: 18px;
          fill: map.get(framework.$colors, 'gray-500');
          transition: all 0.2s ease;
        }
        &:hover {
          svg {
            fill: map.get(framework.$colors, 'primary');
          }
        }
      }
      &__button {
        width: 100%;
        padding-top: framework.$defaultPadding;
        button {
          width: 100%;
          @include framework.flex-layout(flex, center, center, 5px);
          height: 50px;
          @include framework.font-style('15', 'white');
          svg {
            path {
              color: map.get(framework.$colors, 'white');
              fill: currentColor;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .home {
    &__button {
      &--connect {
        width: 100%;
      }
    }
    &__box {
      padding: calc(#{framework.$defaultPadding} * 1.5);
      &--text {
        padding-bottom: calc(#{framework.$defaultPadding} * 2.5);
      }
      &--title {
        font-size: map.get(framework.$textSizes, '36');
      }
      .account {
        word-break: break-all;
      }
    }
  }
}
